h1
.A
{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
    color: burlywood;
    text-align: left;
    text-transform: uppercase;
}