.header
{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 47px;
    color: burlywood;
    text-align: left;
    text-transform: uppercase;
    margin: 0px;
}
fieldset
{   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 39px;
    font-weight: lighter;
    background-color: #173f5f;
    color: white;
}
.footer
{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    color: burlywood;
    text-align: left;
    text-transform: uppercase;
    margin: 12px 0px 0px 0px;
}
input
{
    width: 500px;
    height: 45px;
    font-size: 23px;
    border-radius: 25px;
    border: ridge #20639b;
    padding: 3px 5px;
}
textarea
{   
    font-size: 23px;
    border-radius: 25px;
    border: ridge #20639b;
    padding: 10px;
}
